<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>퀵밥</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home/style.css') }}">
</head>
<body>
    <h1>퀵밥</h1>
    <div id="data">
        <img src="" alt="Status Image" id="img">
        <p id="label">데이터 대기중</p>
    </div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='home/index.js') }}"></script>
</body>
</html>